td {
  padding: 12px 60px;
  width: 100px;
  border-bottom: 1px solid #e2e8f0;
  font-size: 14px;
  color: #2d3748;
  vertical-align: middle;
  align-items: center;
}

.book-type {
  color: #4a5568;
}

.menu-cell {
  text-align: right;
}

.more {
  color: #757575;
  transition: background-color 0.2s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.matmenu {
  position: relative;
}



