<div class="all">
  <div class="books-actions">
    <input
      type="text"
      placeholder="Search by name..."
      #searchInput
      (keyup.enter)="onSearch(searchInput.value)" 
      appAutoFocus
      class="input"
    />
    <button class="create-btn" (click)="createBook()">Create New Book</button>
  </div>

  @if(filteredBooks$ | async; as books) {
    @if(books.length > 0) {
      @for(book of books; track book.id) {
        <app-books-item
          [book]="book"
          (delete)="deleteBook($event)"
          [searchText]="searchText$ | async"
        ></app-books-item>
      }
    } @else {
      <div noBooks>
        <p>No books found.</p>
      </div>
    }
  }
</div>