<div class="all">
  <div class="books-actions">
    <input
      type="text"
      placeholder="Search"
      [formControl]="searchControl" 
      appAutoFocus
      class="input"
    />
    <button class="create-btn" (click)="createBook()">Create New Book</button>
  </div>

  @let books = filteredBooks();
  @if(books?.length) {
    @for(book of books; track book.id) {
      <app-books-item
        [book]="book"
        (delete)="deleteBook($event)"
        [searchText]="searchText()"
      ></app-books-item>
    }
  }
  @else {
      <div noBooks>
        <p>No books found.</p>
      </div>
    }
</div>