<tr class="book-item-row">
    <td class="book-name" [innerHTML]="book.name | highlight : (searchText ?? '') : highlightColor"></td>
    <td class="book-type" [innerHTML]="book.type | highlight:(searchText ?? '')"></td>
    <td>Size: {{ book.size }}</td>
    <td>Date: {{ book.createdAt | date: 'shortDate' }}</td>
    <td>Pages:{{ book.pages }}</td>
    <td class="menu-cell">
        <div class="menu-container">
            @if(!isMenuOpen){
                <button class="menu-btn" (click)="toggleMenu($event)">⋮</button>
            }
            @else{
                <button class="delete-btn" (click)="onDelete($event)">
                    Delete
                </button>
            }
        </div>
    </td>
</tr>