.page-header {
  display: flex;
  justify-content:space-around; 
  align-items: center;          
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;

  button {
    color: #000000;
    text-decoration: none;
    background-color: rgba(192, 227, 229, 0.363);
    border: none;
    padding: 1rem 1rem;
  }

  h1 {
    margin: 0;
    font-weight: 500;
  }
}

.canvas-page {
    background-color: #f0f0f0;
    width: 1500px;
    height: 1500px;
    margin-left: auto;
    margin-right: auto;
}
canvas {
    background-color: white;
    border: 1px solid #999;
    
    width: 100%;
    height: 100%;
}