.books-actions{
  display: flex;
  gap: 15px;
  width: 600px;
  margin-bottom: 20px;
}
.books-actions input[type="text"] {
  flex: 1;
  padding: 8px;
  font-size: 14px;
}

.books-actions .create-btn {
  padding: 8px 12px;
  cursor: pointer;
}
.create-btn{
  background-color: rgba(192, 227, 229, 0.363);
  border: none;
}
.input {
  width: 400px;
}
p {
  font-size: large;
  
}
.all {
  display: flex;
  flex-direction: column;
  align-items: center;
}
