<div class="all">
<div class="books-actions">
  <input
    type="text"
    placeholder="Search by name..."
    [(ngModel)]="searchText"
    (keyup.enter)="onSearch()"
    (input)="onInputChange()"
    appAutoFocus
    class="input"
  />
  <button class="create-btn" (click)="createBook()">Create New Book</button>
</div>

  @if(filteredBooks.length > 0) {
    @for(book of filteredBooks; track book.id) {
      <app-books-item [book]="book" (delete)="deleteBook($event)" [searchText]="searchText" [shouldHighlight]="shouldHighlight"></app-books-item>
    }
  }

  @if(filteredBooks.length == 0){
    <div #noBooks>
      <p>No books found.</p>
    </div>
  }
  </div>