.canvas-page {
    display: flex;
    justify-content: center;
}

.reader-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
    width: 1500px;
    height: 1500px;
}

.reader-toolbar {
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-btn {
    cursor: pointer;
    padding: 6px 12px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;

    &:hover {
        background-color: #ddd;
    }
}

.canvas-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
 
}

canvas {
    background-color: white;
    border: 1px solid #999;
    
    width: 100%;
    height: 100%;
}